<li class="media">
    <div class="media-left media-top">
      <a href="#" class="pull-xs-left"></a>
    </div>  
    <div class="media-body">
      <p class="pull-xs-left"><%= message.body %></p>
      <small class="text-muted pull-xs-right">Sent by: <%= message.user.email %>></small>
    </div>
</li>

