<div id="task-form" style="display:none;"></div>

<div class= "center jumbotron" id="pubes">
<h1>Articles</h1>
 
  <div class= "all-articles">
    <%= render 'index' %>
  </div>  
 
 
  <div class="new-article">
  <%= link_to 'New article', new_article_path,remote: true, class:"btn btn-lg btn-primary" %>
  </div>


</div>